In [1]:
5+6

11

In [4]:
x=0
while (x<4):
    print(x)
    x=x+1

0
1
2
3

In [9]:
i=1
l1=[]
while i<11:
    l1.append(i)
    i=i+1
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
for a in range(1,20,2):
    print(a)

1
3
5
7
9
11
13
15
17
19

In [12]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [17]:
L2=list(range(50))

In [19]:


l3=[]
l4=[]
for s in range(50):
    if s%2==0:
        l3.append(s)
    elif s%2==1:
        l4.append(s)
print("even numbers are",l3)
print("odd numbers are",l4)

even numbers are [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]
odd numbers are [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [14]:
s2=list(range(10))

In [15]:
s2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
for d in range(5,100,5):
    print(d)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [28]:
q=0
w=int(input("enter a number"))
for e in range(w+1):
    q=q+e
print(q)

enter a number5
15

In [29]:
1+2+3+4+5

15

In [31]:
t=int(input("enter a number for its table"))
u=0
for y in range(1,11):
    u=t*y
    print(y,'times',t,'is',u)

enter a number for its table5
1 times 5 is 5
2 times 5 is 10
3 times 5 is 15
4 times 5 is 20
5 times 5 is 25
6 times 5 is 30
7 times 5 is 35
8 times 5 is 40
9 times 5 is 45
10 times 5 is 50

In [32]:
vec=[2,4,9,8,7,14]

In [33]:
l2=[x*2 for x in vec]

In [34]:
l2

[4, 8, 18, 16, 14, 28]

In [35]:
for o in reversed(range(10)):
    print(o)

9
8
7
6
5
4
3
2
1
0

In [1]:
def sq(x):
    return x*x

In [2]:
print(sq(5))

25

In [4]:
def abs(num):
    if num>=0:
        return num
    else:
        return -num

In [7]:
print(abs(-4))

4

In [8]:
def my_fun():
    x=10
    print("value inside function:",x)

In [9]:
x=20

In [10]:
my_fun()

value inside function: 10

In [11]:
x

20

In [13]:
list(map(lambda x:x**2, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [17]:
seq=[10,2,8,7,5,4,3,11,0,1]
res= list(map(lambda x:x**3, seq))

In [18]:
res

[1000, 8, 512, 343, 125, 64, 27, 1331, 0, 1]

In [19]:
fil=filter(lambda x:x>4,seq)
print(list(fil))

[10, 8, 7, 5, 11]

In [20]:
def squares():
    sq=[]
    for x in range(10):
        sq.append(x**2)
    print(sq)

In [21]:
squares()

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [24]:
def math():
    x=int(input("enter first number"))
    y=int(input("enter second number"))
    if x*y<1000:
        print(x*y)
    else:
        print(x+y)

In [25]:
math()

enter first number5
enter second number6
30

In [26]:
math()

enter first number89
enter second number456
545